<template>
  <div>
    <h1>Ajouter</h1><br>

      <div class="row">
        <div class="col-sm-6">
            <input type="text" v-model="restaurants.name" id="" placeholder="">
        </div>
         <div class="col-sm-6">
            <input type="text" v-model="restaurants.contact" id="" placeholder="">
        </div>
         <div class="col-sm-6">
            <input type="text" v-model="restaurants.address" id="" placeholder="">
        </div><br>
        <button @click="addResto">Enregistrer</button>
        
      </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    name:"AddPage",
    data(){
      return{
        restaurants:
          {
            name:'',
            address:'',
            contact:''
          }
        // showAdd: false,
        // showUpdate:false,
        // showList: true
      }
    },

    methods:{
     async addResto(){
        const result = await axios.post("http://localhost:3000/restaurant", {
          name: this.restaurants.name,
          contact:this.restaurants.contact,
          address:this.restaurants.address,

        });

        // console.warn("resultat= ",result)
        if(result.status===201){
          // alert("connexion ok")
          // localStorage.setItem("user-info",JSON.stringify(result.data));
          this.$router.push({name:'index'})
        }
      }
      
    }
}
</script>

<style>

/* .row{
    width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid skyblue;
}

.row button{
  width: 320px;
  height: 40px;
  cursor: pointer;

} */

</style>