<template>
  <div>
     <router-link to="/add">Ajouter</router-link>
    <!-- <router-link to="/update">Mettre à jour</router-link><br><br> -->
    <router-view />

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Contact</th>
          <th scope="col">Action</th>
      
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in restaurants" :key="item.id">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.contact}}</td>
          <td> 
            <router-link :to="'/update/'+item.id">Mettre à jour</router-link>
            <br>
            <button @click="deleteResto(item.id)">Supprimer</button>
          </td>
         
        </tr>
      
      </tbody>
    </table>

   
  </div>
</template>

<script>
import axios from 'axios';
// import Add from '@/components/resto/Add.vue'
export default {

    name:'RestoPage',
    components:{
        // Add
    },

    data(){
        return{
            restaurants:[],
            //  showAdd: false,
            //   showUpdate:false,
            //   showList: true
        }
    },

    methods:{
      async deleteResto(id){
        const result = await axios.delete("http://localhost:3000/restaurant/"+id)
      console.log(result)
        if(result.status===200){
          this.loadData()
        }
      },

      async loadData(){
          const users = localStorage.getItem('user-info');
            if(users)
            {
              this.$router.push({name:'index'});
            }else{
              this.$router.push({name:'login'});
            }

            const result = await axios.get(
              `http://localhost:3000/restaurant`
            )

            this.restaurants = result.data;

      }
      // menuAdd() {
      //         this.changePage("add")
      //     },

      //     menuUpdate() {
      //         this.changePage("update")
      //     },
      //     menuList() {
      //         this.changePage("list")
      //     },




      // changePage(destination){
      //   this.showAdd = false,
      //   this.showUpdate = false
      //   this.showList = false

      //   switch(destination){
      //     case "add":
      //       this.showAdd = true

      //       break;

      //       case "update":
      //       this.showUpdate = true

      //       break;


      //       case "list":
      //       this.showList = true

      //       break;

      //        default:

      //       break;


      //   }
      // }

    },

     // o_k__  __
    async mounted(){
    this.loadData();
      // this.changePage("list")
    }
    

     
}
</script>

<style>
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    border-collapse: collapse;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-dark {
    color: #fff;
    background-color: #212529;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
</style>