<template>
  <div>
   <h1>Mise à jour</h1>

    <div class="row">
        <div class="col-sm-6">
            <input type="text" v-model="restaurants.name" id="" placeholder="">
        </div>
         <div class="col-sm-6">
            <input type="text" v-model="restaurants.contact" id="" placeholder="">
        </div>
         <div class="col-sm-6">
            <input type="text" v-model="restaurants.address" id="" placeholder="">
        </div><br>
        <button @click="updateResto()">Mettre à jour</button>
        
      </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
    name:'UpdatedPage',

    data(){
      return{
        restaurants:
          {
            name:'',
            address:'',
            contact:''
          }
      }
    },

    methods:{
      async updateResto(){
       
        const result = await axios.put("http://localhost:3000/restaurant/"+ this.$route.params.id, {
          name: this.restaurants.name,
          contact:this.restaurants.contact,
          address:this.restaurants.address,

        });

        // console.warn("resultat= ",result)
        if(result.status===200){
          // alert("connexion ok")
          // localStorage.setItem("user-info",JSON.stringify(result.data));
          this.$router.push({name:'index'})
        }
 
      }
    },

     
    async mounted(){
      const user = localStorage.getItem('user-info');
      if(!user){
        this.$router.push({name:'SignUp'})
      }
       const result = await axios.get("http://localhost:3000/restaurant/"+this.$route.params.id)
      // console.warn(this.$route.params.id)
      // console.warn(result)
      this.restaurants = result.data
    }
}
</script>

<style>

</style>