<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <p>Welcome <strong>{{name}}</strong> to Your Vue.js App</p>
     <!-- <HelloWorld msg="Welcome   to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'HomeView',
  components: {
    // HelloWorld
  },

  data(){
    return{
      name:''
    }
  },
  
   mounted(){
        const user = localStorage.getItem('user-info');
        if(user){
        this.name = JSON.parse(user).name;
        }
        
        if(!user){
          this.$router.push({name:'login'})
        }
    }
}
</script>
