<template>
  <div>
    <h1>Se connecter</h1>
    
    <div class="row">
        <div class="col-sm-6">
            <input type="text" v-model="email">
        </div><br>
        <div class="col-sm-6">
            <input type="text" v-model="password">
        </div>
        <button @click="getLogin()">Connexion</button>
        <h5>Pas de compte?<router-link to="SignUp">S'inscrire</router-link></h5>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    name:"LoginPage",

    data(){
        return{
            email:'',
            password:''
        }
    },

     methods:{
            async getLogin(){
                const result = await axios.get(
                    `http://localhost:3000/users?email=${this.email}&password=${this.password}`
                )
                if(result.status===200 && result.data.length>0){
                    localStorage.setItem("user-info",JSON.stringify(result.data[0]));
                    this.$router.push({name:'home'})
                }else{
                    alert("Ce compte n'existe pas. Veuillez vous inscrire")
                }
            }
        },

         mounted(){
            const users = localStorage.getItem('user-info');
            if(users){
                this.$router.push({name:'home'})
            }
    }

}
</script>

<style>

</style>