<template>
  <div>
    <h1>S'inscrire</h1>
    
    <div class="row">
        <div class="col-sm-6">
            <input type="text" v-model="name" id="" placeholder="username">
        </div>
         <div class="col-sm-6">
            <input type="text" v-model="email" id="" placeholder="e-mail">
        </div>
         <div class="col-sm-6">
            <input type="text" v-model="password" id="" placeholder="password">
        </div><br>
        <button @click="signUp">Sign up</button>
        <h5>Déjà un compte?<router-link to="login">Se connecter</router-link></h5>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
    name:'SingUp',

    data(){
      return{
        name:'',
        email:'',
        password:''
      }
    },

    methods:{
      async signUp(){
        const result = await axios.post("http://localhost:3000/users",{
          name: this.name,
          email: this.email,
          password:this.password
        });
        // console.warn(result);
        if(result.status===201){
          // alert("connexion ok")
          localStorage.setItem("user-info",JSON.stringify(result.data));
          this.$router.push({name:'home'})
        }
      }
    },

    // 
    mounted(){
      const users = localStorage.getItem('user-info');
      if(users){
        this.$router.push({name:'home'})
      }
    }

}
</script>

<style>
.row input{
  width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid skyblue;
}

.row button{
  width: 320px;
  height: 40px;
  cursor: pointer;
}

</style>