<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/index">Restauration</router-link> |
    <router-link to="/signup">Connexion</router-link> |
    <a @click="logout()" href="#">Logout</a>
  </nav>
  <sign-up />
  <!-- <hello-world/> -->
  <router-view/>
    
</template>

<script>
// import SignUp from '@/components/SignUp.vue'
// import HelloWorld from '@/components/HelloWorld.vue'
export default {

  methods:{
    logout(){
      localStorage.clear();
      // alert("Voullez-vous vous deconnecter?")
      this.$router.push({name:'login'})
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
